<body>

<div class="container">
    <div class="row mb-3">
        <div class="col">
    <div class="card" style="width: 20rem; height: 20rem;">
     
        <div class="card-body" routerLink="/crop">
          <div class="card-label" style="z-index: -1; text-align: center;"><b>Crops</b></div>
          <img src="https://th.bing.com/th/id/OIP.74KIvepqAIr0Iff30YvEngHaE1?pid=ImgDet&rs=1" height="100" width="100">
         
        </div>
      </div>
    </div>

    

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <div class="card-body" routerLink="/status">
          <div class="card-label" style="z-index: -1; text-align: center;"><b>User-Status</b></div>
          <img src="https://www.thebrunettediaries.com/sites/default/files/uploads/2015/07/update-profile.jpg" height="100" width="100">

        </div>
      </div>
    </div>
</div>
</div>
<div class="col">
  <div class="card" style="width: 20rem;height: 20rem;top:12.5%;">
    <div class="card-body" routerLink="/sales">
      <div class="card-label" style="z-index: -1; text-align: center;"><b>Invoice Page</b></div>
      <img src="https://www.picpedia.org/post-it-note/images/orders.jpg             
      " height="100" width="100">

    </div>
  </div>
</div>

    
</body>
