
<!-- <img src="https://images.pexels.com/photos/265216/pexels-photo-265216.jpeg?cs=srgb&dl=pexels-pixabay-265216.jpg&fm=jpg" class="img-fluid" alt="home"> -->

<html>
    <body>
        

 <img src ="https://wallpapercave.com/wp/wp3515752.png" class="img-fluid" alt="home" style="background-repeat: repeat;">

 
        <div class="one">
        <b></b> 
        </div>
        <div class="two">
            Want To Buy/Sell Fresh Crops In An Easy Way.     </div>
        <br>
        <div class="three">
            <button  class="btn btn-success border border-secondary-subtle border border-5" style="color:rgb(236, 245, 236);padding:10px;" routerLink="/registration">REGISTER NOW <i class = "fa fa-arrow-right"></i></button>

        </div>
        <div class="four">
            
        </div>
    </body>
</html>